# Игнорировать файлы и директории, созданные Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать файлы логов
*.log

# Игнорировать файлы окружения
.env
venv/

#игнорировать файлы конфигураций
*.ini
игнорировать файлы bat
*.bat